<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
<script src="/javascripts/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
<title>Document</title>
</head>
<body>
	<h1>登录</h1>
	<div>账号： <input type="text" class="user" /></div>
	<div>密码： <input type="text" class="pass" /></div>
	<button class="btn btn-success login">登陆</button>
</body>
<script type="text/javascript">
	$('.login').click(function(){
		$.ajax({
			type:"post",
			url:"/users/login",
			data:{user:$('.user').val(),pass:$('.pass').val()},
			success:function(data){
				if(data==1){
					alert('登陆成功，1秒后自动跳转首页')
					setTimeout(function(){
						location.href='/'
					},1000)
				}else{
					alert('账号密码不符合，重新登录')
					location.href='/login'
				}
			}
		});
	})
	
	
	
</script>
</html>